@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$backgroundColor: #22254b;
$textColor: #f2f1ef;

* {
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  color: $textColor;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.movie-container {
  display: flex;
}
